body {
background: #141313ff;
font-family: Arial, sans-serif;
color: #eee;

display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.container {
max-width: 800px;
margin: 50px auto;
padding: 30px;
background: #242121ff;
border-radius: 7px;
box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

h1 {
font-size: 2.5rem;
margin-bottom: 10px;
text-align: center;
}

h3 {
font-size: 1.2rem;
margin-bottom: 20px;
text-align: center;
color: #ccc;
}

h4 {
font-size: 1.5rem;
margin-bottom: 15px;
border-bottom: 1px solid #eee;
padding-bottom: 10px;
}

p {
font-size: 1.1rem;
line-height: 1.5rem;
margin-bottom: 8px;
}

button {
display: block;
margin: 30px auto 0 auto;
padding: 15px 80px;
font-size: 1rem;
font-weight: bold;
color: #eee;
background: transparent;
border: 2px solid #eee;
border-radius: 5px;
cursor: pointer;
position: relative;
overflow: hidden;
transition: all 0.3s ease-in-out;
}

button .slider {
width: 110%;
height: 150%;
background: linear-gradient(135deg, #0A0A0A, #141414, #3A3A3A, #141414, #0A0A0A);
box-shadow: 25px 0px 38px 8px rgba(58, 58, 58, 0.82);
position: absolute;
left: -15px;
top: -15px;
transform: rotate(3deg) translate(-100%);
opacity: 0.3;
transition: transform 0.3s ease-in-out, opacity 0.5s ease-in-out;
z-index: 0;
}

button {
color: white;
border-color: white;
}

button .slider {
transform: rotate(3deg) translate(0%);
opacity: 1;
}

/* Responsive */
@media (max-width: 768px) {
.container {
width: 90%;
padding: 20px;
}

h1 {
    font-size: 2rem;
}

button {
    padding: 12px 50px;
}

}