* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #141313;
    font-family: Arial, sans-serif;
}

section.nav {
    display: flex;
    justify-content: flex-end;
}

section.nav nav {
    width: min-content;
    padding: 30px;
}

section.nav nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 10px 20px;
    align-items: center;
}

section.nav nav ul li a {
    text-decoration: none;
    color: #eee;
    font-weight: bold;
    font-size: 18px;
    position: relative;
    padding: 10px;
    white-space: nowrap;
}

section.nav nav ul li a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background: #eee;
    transition: width 0.3s;
}

section.nav nav ul li a:hover::before,
section.nav nav ul li a.actif::before {
    width: 100%;
}

section.titre {
    text-align: center;
    margin-top: 50px;
    padding-bottom: 60px;
    color: #eee;
    font-size: 70px;
    border-bottom: 2px solid #eee;
    width: 90%;
    margin: auto;
}

section.reparation {
    width: 90%;
    margin: 50px auto;
    padding: 20px 40px;
    border: 1px solid #333;
    border-radius: 5px;
    background: #242121;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    /* background: red; */
}

section.reparation h2 {
    color: #eee;
    margin-bottom: 20px;
    border-bottom: 1px solid #444;
    padding-bottom: 10px;
}

.field {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.field label {
    color: #ddd;
    margin-bottom: 5px;
    font-weight: bold;
}

.field select,
.field input {
    padding: 10px;
    border: none;
    border-bottom: 1px solid #888;
    background: transparent;
    color: #ddd;
    outline: none;
}

.field textarea {
    padding: 10px;
    border: none;
    border-bottom: 1px solid #888;
    background: transparent;
    color: #ddd;
    outline: none;

    height: 200px
}


section.reparation .field label {
    margin-right: 0;
    font-weight: bold;
    margin-bottom: 5px;

    color: #ddd
}

section.reparation .field select {
    padding: 8px;

    /* appearance: none; */

    background: transparent;

    color: #ddd;


    border: none;
    border-bottom: 1px solid #ccc;

    border-radius: 0px;

    outline: none;

    cursor: pointer;

}

select,
select::picker(select) {
    appearance: base-select;
}

select::picker(select) {
    background: transparent;
    backdrop-filter: blur(12px);

    border: none;

}

section.reparation .field select option {
    background: transparent;
    backdrop-filter: blur(10px);
    color: #ddd;
    padding: 10px;
}

section.reparation .field select:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

section.reparation .field select option:hover {
    background: #333;
}


.checkbox-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 5px;
    border: 1px solid #333;
}

.checkbox-group label {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #ccc;
    cursor: pointer;
}

.checkbox-group input {
    width: 18px;
    height: 18px;
    accent-color: #555;

    cursor: pointer
}

button {
    padding: 15px 40px;
    background: transparent;
    border: 2px solid #eee;
    color: #eee;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

button:hover {
    color: #141313;
    background: #eee;
}

button span {
    position: relative;
    z-index: 5;
}
