* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100dvh;

    background: #222222;

    display: flex;
}

nav {
    height: 100%;

    background: #141313;

    display: flex;

    justify-content: end;
    align-items: centre;

    width: 280px;
}

nav ul {
    list-style: none;

    display: flex;
    flex-direction: column;

    gap: 20px;

    padding: 40px 0px;

}

nav ul li {
    color: #fff;
    cursor: pointer;

    display: flex;

    justify-content: end;


    position: relative;
}

nav ul li::after {
    content: ' ';
    width: 0;
    height: 100%;

    background: #222222;

    position: absolute;
    top: 0px;
    right: 0;

    transition: all 0.3s ease-in-out;

    border-radius: 10px 0 0 10px;
}


nav ul li.actif::after,
nav ul li:hover::after {
    content: ' ';
    width: 100%;
    height: 100%;

    background: #222222;

    position: absolute;
    top: 0px;
    right: 0;
}



nav ul li a {
    text-decoration: none;
    color: #fff;

    z-index: 2;

    /* background: red; */

    height: 100%;
    width: 100%;


    padding: 10px 20px;

    padding-left: 40px;

    text-align: end;

}

.gap {
    flex: 1;
}

.container {
    /* background: red; */

    height: 100%;
    width: 100%;
}

*::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

*::-webkit-scrollbar-track {
    background: #1c1c1c;
    border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
    background-color: #444;
    border-radius: 10px;
    border: 2px solid #1c1c1c;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #666;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #444 #1c1c1c;
}