* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #141313ff;
    font-family: Arial, sans-serif;
    color: #eee;
}

.container {
    width: 60%;
    margin: 50px auto;
    padding: 40px 35px;
    background: #242121ff;
    border-radius: 7px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

h1 {
    text-align: center;
    font-size: 2.3rem;
    margin-bottom: 20px;
    border-bottom: 1px solid #444;
    padding-bottom: 10px;
}

.infos {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 25px;
}

.infos p {
    background: #1c1b1b;
    padding: 12px 15px;
    border-radius: 5px;
    font-size: 1.1rem;
    border-left: 3px solid #3A3A3A;
}

.infos p span {
    font-weight: bold;
    color: #ddd;
}

/* Bouton version <a> */
a.button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 20%;

    margin: 40px auto 0 auto;
    padding: 15px 80px;

    text-decoration: none;
    color: #eee;

    border: 2px solid #eee;
    background: transparent;

    font-size: 1.1rem;
    font-weight: bold;

    border-radius: 5px;
    cursor: pointer;

    position: relative;
    overflow: hidden;

    transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

a.button span {
    position: relative;
    z-index: 2;
}

a.button .slider {
    width: 110%;
    height: 150%;

    background: linear-gradient(135deg, #0A0A0A, #141414, #3A3A3A, #141414, #0A0A0A);
    opacity: 0.3;

    position: absolute;
    top: -15px;
    left: -15px;

    transform: rotate(3deg) translateX(-100%);

    transition: transform 0.3s ease-in-out, opacity 0.4s ease-in-out;

    z-index: 1;
}

a.button:hover {
    color: #fff;
    border-color: #fff;
}

a.button:hover .slider {
    transform: rotate(3deg) translateX(0%);
    opacity: 1;
}

@media (max-width: 800px) {
    .container {
        width: 90%;
        padding: 20px;
    }
}
