.container {
    padding: 50px;

    padding-bottom: 55px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: #1c1c1c;
    color: #eee;
    font-family: sans-serif;

    display: grid;
    grid-template-rows: auto 1fr;
    height: 100%;

    border-radius: 10px;
}

.id {
    width: 50px;
}

.total {
    width: 100px;
}

table thead {
    display: table;
    width: 100%;
    table-layout: fixed;
    background: #2a2a2a;
    position: sticky;
    top: 0;
    z-index: 10;


    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

table thead th {
    padding: 10px;
    border-bottom: 1px solid #333;

    text-align: start;

    font-size: 16px;
}

table tbody {
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
}

table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
    height: 37px;
    border-bottom: 1px solid #2b2b2b;
    transition: background 0.2s;
    cursor: pointer;
}

td {
    pointer-events: none;
}

table tbody tr:hover {
    background: #2d2d2d;
}

table td {
    padding: 8px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    font-size: 13px;
}

.redirect {
    /* background: red; */

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    aspect-ratio: 1/1;

    position: absolute;

    right: 0;
    top: 0;

    border-top-right-radius: 10px;

    cursor: pointer;

}

.switch {

    /* position: absolute;
    right: 10px;
    bottom: 10px; */

    display: flex;
    gap: 8px;


    padding-top: 10px;

    align-items: center;
    justify-content: flex-end;

    color: #eee;
}

.moin,
.plus {
    width: 25px;
    height: 25px;
}

.moin svg,
.plus svg {
    width: 25px;
    height: 25px;


}

.moin svg path,
.plus svg path {
    stroke: #eee;
    fill: #eee;
}

.center {

    display: flex;
    justify-content: center;
    align-items: center;
}